@model ComprasModel
@{
    ViewData["Title"] = "Editar Compra";
}
<div class="text-center">
    <h1 class="display-4"> Editar Compra</h1>
</div>

<form asp-controller="Compra" asp-action="Alterar" method="post">

    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label for="nome_fornecedor"> Nome do fornecedor:</label>
        <input type="text" asp-for="Nome_fornecedor" class="form-control" placeholder="Digite o nome do fornecedor">
        @Html.ValidationMessageFor(x => x.Nome_fornecedor)
    </div>
    <div class="mb-3">
        <label for="produto_comprado"> Produto comprado</label>
        <input type="text" asp-for="Produto_comprado" class="form-control" placeholder="Digite o produto comprado">
        @Html.ValidationMessageFor(x => x.Produto_comprado)
    </div>
    <div class="mb-3">
        <label for="cnpj"> Quantidade comprada:</label>
        <input type="text" asp-for="Qtd_comprada" class="form-control" placeholder="Digite a quantidade comprada">
        @Html.ValidationMessageFor(x => x.Qtd_comprada)
    </div>
    <div class="mb-3">
        <label for="telefone"> Valor Total:</label>
        <input type="text" asp-for="Valor_total" id="Valor_total" class="form-control" placeholder="Digite o valor total">
        @Html.ValidationMessageFor(x => x.Valor_total)
    </div>

    <button type="submit" class="btn btn-primary btn-block">Alterar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Compra" asp-action="Index" role="button">Voltar</a>
</form>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/jquery-mask-plugin@1.14.15/dist/jquery.mask.min.js"></script>
    <script>
        $('#Valor_total').on('input', function () {
            // Limpar entrada e separar parte inteira e decimal
            let valor = $(this).val().replace(/[^\d,]/g, '').split(',');
            valor[0] = valor[0].slice(0, 10); // Limitar parte inteira a 10 dígitos
            if (valor[1]) valor[1] = valor[1].slice(0, 2); // Limitar parte decimal a 2 dígitos
            $(this).val(valor.join(','));
        });
    </script>
}