 @model ComprasModel
@{
    ViewData["Title"] = "Editar Compra";
}
<div id="editar-view-container">
    <h1 id="editar-title">Editar Compra</h1>

    <div id="editar-form-container">
        <form asp-controller="Compra" asp-action="Alterar" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <label class="form-label">Nome do fornecedor:</label>
                <input type="text" asp-for="Nome_fornecedor" class="form-control" placeholder="Digite o nome do fornecedor">
                @Html.ValidationMessageFor(x => x.Nome_fornecedor)
            </div>
            <div class="mb-3">
                <label class="form-label">Produto comprado:</label>
                <input type="text" asp-for="Produto_comprado" class="form-control" placeholder="Digite o nome do produto comprado">
                @Html.ValidationMessageFor(x => x.Produto_comprado)
            </div>
            <div class="mb-3">
                <label class="form-label">Quantidade comprada:</label>
                <input type="text" asp-for="Qtd_comprada" class="form-control" placeholder="Digite a quantidade comprada">
                @Html.ValidationMessageFor(x => x.Qtd_comprada)
            </div>
            <div class="mb-3">
                <label class="form-label">Valor total:</label>
                <input type="text" asp-for="Valor_total" class="form-control" placeholder="Digite o valor total">
                @Html.ValidationMessageFor(x => x.Valor_total)
            </div>
            <div class="buttons-viewEditar">
                <button type="submit" class="btn btn-alterar btn-block">Alterar</button>
                <a class=" btn btn-voltar btn-block" asp-controller="Compra" asp-action="Index" role="button">Voltar</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/jquery-mask-plugin@1.14.15/dist/jquery.mask.min.js"></script>
    <script>
        $('#Valor_total').on('input', function () {
            // Limpar entrada e separar parte inteira e decimal
            let valor = $(this).val().replace(/[^\d,]/g, '').split(',');
            valor[0] = valor[0].slice(0, 10); // Limitar parte inteira a 10 dígitos
            if (valor[1]) valor[1] = valor[1].slice(0, 2); // Limitar parte decimal a 2 dígitos
            $(this).val(valor.join(','));
        });
    </script>
}