@model ProdutoModel
@{
    ViewData["Title"] = "Confirmação apagar o Produto";
}

<div id="exclusao-container">
    <h3 id="exclusao-titulo">
        Realmente deseja apagar o produto: (@Model.Nome_Produto)
    </h3>

    <div id="exclusao-botoes">
        <a id="botao-cancelar"
           class="btn"
           role="button"
           asp-controller="Produto"
           asp-action="Index">
            Cancelar exclusão
        </a>

        <a id="botao-confirmar"
           class="btn"
           role="button"
           asp-controller="Produto"
           asp-action="Apagar"
           asp-route-id="@Model.Id">
            Confirmar exclusão
        </a>
    </div>
</div>
