html, body {
    height: 100%; /* Garante que o body ocupe toda a altura da tela */
    margin: 0; /* Remove margens padrão */
}

#editar-view-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha horizontalmente ao centro */
    justify-content: center; /* Centraliza verticalmente */
    height: 90vh; /* Garante que o contêiner ocupe toda a altura da tela */
}

#editar-title {
    font-size: 3rem;
    color: #333;
    text-align: center; 
}

#editar-form-container {
    background-color: #ffffff;
    padding: 40px; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 45vw;
    max-width: 570px;
    margin-top: 0;
    margin-bottom: 0; 
}


.form-label {
    font-weight: bold;
    margin-top: 10px;
}
.btn-primary {
    background-color: #6B8E23;
}
.buttons-viewEditar {
    margin-top: 20px;
    display: flex;
    flex-direction: row; /* Botões em linha */
    gap: 10px; /* Espaço entre os botões */
    justify-content: center; /* Centraliza os botões */
}
.btn-alterar {
    color: white;
    width: 150px;
    background-color: #f4b400;
}
    .btn-alterar:hover {
        background-color: #e5a200;
        color: white;
    }

.btn-voltar {
    width: 150px;
    background-color: #bfbfbf;
    color:white;
}
    .btn-voltar:hover {
        background-color: #7f7f7f;
        color: white;
    }