@model ProducaoModel
@{
    ViewData["Title"] = "Confirmação apagar produção";
}

<div id="exclusao-container">
    <h3 id="exclusao-titulo">
        Realmente deseja apagar a produção: (@Model.Nome_producao)
    </h3>

    <div id="exclusao-botoes">
        <a id="botao-cancelar"
           class="btn"
           role="button"
           asp-controller="Producao"
           asp-action="Index">
            Cancelar exclusão
        </a>

        <a id="botao-confirmar"
           class="btn"
           role="button"
           asp-controller="Producao"
           asp-action="Apagar"
           asp-route-id="@Model.Id">
            Confirmar exclusão
        </a>
    </div>
</div>
