@model ProducaoModel
@{
    ViewData["Title"] = "Apagar producao";
}

<div class="text-center">
    <h3>Realmente deseja apagar o fornecedor (@Model.Nome_producao)</h3>
</div>

<a class="btn btn-primary" role="button" asp-controller="Producao" asp-action="Index">Cancelar exclusão</a>
<a class="btn btn-danger" role="button" asp-controller="Producao" asp-route-id="@Model.Id" asp-action="Apagar">Confirmar exclusão</a>