@{
    ViewData["Title"] = "Confimacao apagar Contato";
}

<div class="text-center">
    <h3>Realmente deseja apagar o fornecedor?</h3>
</div>

<a class="btn btn-primary" role="button" asp-controller="Fornecedor" asp-action="Index">Cancelar exclusão</a>
<a class="btn btn-danger" role="button" asp-controller="Fornecedor" asp-action="Apagar">Confirmar exclusão</a>