@model FornecedorModel
@{
    ViewData["Title"] = "Confirmação apagar o Fornecedor";
}

<div id="exclusao-container">
    <h3 id="exclusao-titulo">
        Realmente deseja apagar o fornecedor: (@Model.Nome_fornecedor)
    </h3>

    <div id="exclusao-botoes">
        <a id="botao-cancelar"
           class="btn"
           role="button"
           asp-controller="Fornecedor"
           asp-action="Index">
            Cancelar exclusão
        </a>

        <a id="botao-confirmar"
           class="btn"
           role="button"
           asp-controller="Fornecedor"
           asp-action="Apagar"
           asp-route-id="@Model.Id">
            Confirmar exclusão
        </a>
    </div>
</div>
