 @model FornecedorModel
@{
    ViewData["Title"] = "Editar Fornecedor";
}
<div id="editar-view-container">
    <h1 id="editar-title">Editar Fornecedor</h1>

    <div id="editar-form-container">
        <form asp-controller="Fornecedor" asp-action="Alterar" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <label class="form-label" for="nome_fornecedor">Nome do fornecedor:</label>
                <input type="text" asp-for="Nome_fornecedor" class="form-control" placeholder="Digite o nome do fornecedor">
                @Html.ValidationMessageFor(x => x.Nome_fornecedor)
            </div>
            <div class="mb-3">
                <label class="form-label" for="nome_produto">Nome do produto:</label>
                <input type="text" asp-for="Nome_produto" class="form-control" placeholder="Digite o nome do produto do fornecedor">
                @Html.ValidationMessageFor(x => x.Nome_produto)
            </div>
            <div class="mb-3">
                <label class="form-label" for="cnpj">CNPJ do fornecedor:</label>
                <input type="text" asp-for="Cnpj" id="cnpj" class="form-control" placeholder="Digite o CNPJ do fornecedor">
                @Html.ValidationMessageFor(x => x.Cnpj)
            </div>
            <div class="mb-3">
                <label class="form-label" for="telefone">Telefone:</label>
                <input type="text" asp-for="Telefone" id="telefone" class="form-control" placeholder="Digite o telefone do fornecedor">
                @Html.ValidationMessageFor(x => x.Telefone)
            </div>
            <div class="buttons-viewEditar">
            <button type="submit" class="btn btn-alterar btn-block">Alterar</button>
            <a class=" btn btn-voltar btn-block" asp-controller="Fornecedor" asp-action="Index" role="button">Voltar</a>
            </div>
        </form>
    </div>
</div>

 @section Scripts {
     <script src="https://cdn.jsdelivr.net/npm/jquery-mask-plugin@1.14.15/dist/jquery.mask.min.js"></script>
     <script>
         // Máscara para telefone celular
         $('#telefone').mask('(00) 90000-0000');

         // Máscara para CNPJ
         $('#cnpj').mask('00.000.000/0001-00');
     </script>
 }