@{
    ViewData["Title"] = "Página Inicial";
}

<!-- parte para escrever html, css tbm pode escrever código em csharp por causa do razor -->
<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p>Projeto do PIM, controle de Contatos</p>
</div>


